.spacer {
    background: none;
}

.nav_link {
    background: transparent;
    border: none;
    padding: 0;
    color: blue;
}

.dimmed-gray {
    color: gray;
}

.round {
    border-radius: 100%;
}

.vui-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.52);
}

.vui-section row:hover {
    background: var(--light-2);
    transition: background-color 100ms linear;
}

.vui-section row:hover .vui-section-entry {
    background: var(--light-2);
    transition: background-color 100ms linear;
}

.vui-section-entry {
    background-color: white;
    outline: none;
    border-radius: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.vui-section-row-focused {
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: var(--accent-bg-color);
}

.vui-section-row-first {
    border-radius: 10px 10px 0 0;
}

.vui-section-row-last {
    border-radius: 0 0 10px 10px;
}

.vui-section-row-solo {
    border-radius: 10px;
}
